<launch>
  <arg name="gui" default="true" />
  <arg name="rviz" default="true" />
  <arg name="autonomous" default="true" />
  <arg name="active_slam" default="$(arg autonomous)" />
  <arg name="scene" default="detailed" />
  <arg name="world" default="$(eval find('indoor_active_slam') + ('/worlds/quick_indoor_apartment.world' if arg('scene') == 'quick' else '/worlds/detailed_two_bedroom_apartment.world'))" />
  <arg name="x" default="$(eval '-4.4' if arg('scene') == 'quick' else '-3.0')" />
  <arg name="y" default="$(eval '-3.4' if arg('scene') == 'quick' else '-4.7')" />
  <arg name="z" default="0.12" />
  <arg name="yaw" default="0.0" />

  <param name="/use_sim_time" value="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
  </include>

  <param name="robot_description"
      command="$(find xacro)/xacro $(dirname)/../urdf/active_slam_robot.urdf.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher" output="screen" />

  <node name="cartographer_odom_filter" pkg="indoor_active_slam"
      type="cartographer_odom_filter.py" output="screen" />

  <node name="spawn_mapping_robot" pkg="indoor_active_slam"
      type="spawn_mapping_robot.py" output="screen">
    <param name="model_name" value="active_slam_robot" />
    <param name="x" value="$(arg x)" />
    <param name="y" value="$(arg y)" />
    <param name="z" value="$(arg z)" />
    <param name="yaw" value="$(arg yaw)" />
  </node>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(dirname)/../config
          -configuration_basename cartographer_indoor_2d.lua"
      output="screen">
    <remap from="scan" to="/scan" />
    <remap from="odom" to="/cartographer/odom" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node"
      args="-resolution 0.05 -publish_period_sec 0.6"
      output="screen" />

  <node if="$(arg active_slam)" name="active_slam_frontier_explorer"
      pkg="indoor_active_slam" type="active_slam_frontier_explorer.py" output="screen">
    <param name="control_rate" value="24.0" />
    <param name="replan_interval" value="2.4" />
    <param name="goal_timeout" value="20.0" />
    <param name="goal_commitment" value="8.0" />
    <param name="lookahead_distance" value="1.65" />
    <param name="min_local_target_distance" value="0.16" />
    <param name="goal_reached_distance" value="0.26" />
    <param name="frontier_probe_distance" value="1.4" />
    <param name="frontier_probe_seconds" value="5.0" />
    <param name="frontier_probe_speed" value="0.42" />
    <param name="frontier_probe_unknown_radius" value="18" />
    <param name="finish_cartographer_on_complete" value="true" />
    <param name="inflate_radius" value="0.20" />
    <param name="costmap_radius" value="0.46" />
    <param name="costmap_weight" value="0.10" />
    <param name="min_frontier_cells" value="4" />
    <param name="min_frontier_path_distance" value="0.55" />
    <param name="frontier_gain_weight" value="2.8" />
    <param name="frontier_distance_weight" value="0.36" />
    <param name="frontier_far_bonus" value="0.28" />
    <param name="frontier_goal_hysteresis" value="3.2" />
    <param name="patrol_min_distance" value="1.2" />
    <param name="patrol_max_distance" value="6.5" />
    <param name="patrol_unknown_radius" value="12" />
    <param name="patrol_min_visible_unknown" value="8" />
    <param name="patrol_cell_stride" value="5" />
    <param name="closure_start_ratio" value="0.72" />
    <param name="closure_min_runtime" value="$(eval '90.0' if arg('scene') == 'quick' else '140.0')" />
    <param name="closure_unknown_radius" value="36" />
    <param name="closure_cell_stride" value="5" />
    <param name="closure_min_visible_unknown" value="6" />
    <param name="closure_min_distance" value="0.35" />
    <param name="closure_max_distance" value="8.0" />
    <param name="closure_bbox_margin" value="4" />
    <param name="closure_bounds_min_x" value="$(eval '-1.45' if arg('scene') == 'quick' else '-4.82')" />
    <param name="closure_bounds_min_y" value="$(eval '-0.95' if arg('scene') == 'quick' else '-1.12')" />
    <param name="closure_bounds_max_x" value="$(eval '10.25' if arg('scene') == 'quick' else '10.82')" />
    <param name="closure_bounds_max_y" value="$(eval '7.75' if arg('scene') == 'quick' else '10.52')" />
    <param name="completion_no_frontier_cycles" value="10" />
    <param name="completion_stable_seconds" value="25.0" />
    <param name="completion_min_runtime" value="$(eval '140.0' if arg('scene') == 'quick' else '210.0')" />
    <param name="completion_min_travel_distance" value="$(eval '45.0' if arg('scene') == 'quick' else '70.0')" />
    <param name="completion_min_known_cells" value="$(eval '35000' if arg('scene') == 'quick' else '60000')" />
    <param name="completion_max_interior_unknown" value="$(eval '6200' if arg('scene') == 'quick' else '10800')" />
    <param name="completion_known_growth_cells" value="20" />
    <param name="visit_record_distance" value="0.75" />
    <param name="home_reached_distance" value="0.48" />
    <param name="home_timeout" value="90.0" />
    <param name="cruise_speed" value="0.82" />
    <param name="min_drive_speed" value="0.30" />
    <param name="max_angular_speed" value="2.05" />
    <param name="turn_gain" value="2.05" />
    <param name="local_heading_samples" value="21" />
    <param name="local_heading_limit" value="1.45" />
    <param name="local_clear_distance" value="1.45" />
    <param name="local_stop_margin" value="0.14" />
    <param name="obstacle_clearance_weight" value="1.45" />
    <param name="heading_tracking_weight" value="2.15" />
    <param name="front_slow_distance" value="1.00" />
    <param name="front_stop_distance" value="0.36" />
    <param name="emergency_distance" value="0.24" />
    <param name="side_stop_distance" value="0.23" />
    <param name="rear_stop_distance" value="0.24" />
    <param name="robot_half_width" value="0.15" />
    <param name="robot_front_radius" value="0.16" />
    <param name="laser_offset_x" value="0.065" />
    <param name="corridor_margin" value="0.04" />
    <param name="scan_self_filter_radius" value="0.13" />
    <param name="blocked_timeout" value="1.8" />
    <param name="stuck_timeout" value="2.8" />
    <param name="backup_seconds" value="1.05" />
    <param name="turn_seconds" value="1.15" />
    <param name="probe_seconds" value="0.90" />
    <param name="dead_end_front_distance" value="0.52" />
    <param name="dead_end_side_distance" value="0.45" />
    <param name="dead_end_backup_extra" value="0.55" />
    <param name="spin_timeout" value="5.0" />
    <param name="spin_min_angle" value="3.6" />
    <param name="spin_max_translation" value="0.35" />
  </node>

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
      args="-d $(dirname)/../rviz/active_slam_mapping.rviz" />
</launch>
